<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='amendes.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="amendesForm" (ngSubmit)="submit">
  
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>DateDeFAitAmende</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="DateDeFAitAmende">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="amendesForm.get('DateDeFAitAmende').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>date Recu Amende</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateRecuAmende" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="amendesForm.get('dateRecuAmende').hasError('required')">
              date Recu Amende is required
            </mat-error>
          </mat-form-field>
          
        </div>

      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Motif</mat-label>
            <input matInput formControlName="motif" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="amendesForm.get('motif').hasError('required')">
              Motif is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>frais</mat-label>
            <input matInput formControlName="frais" required>
            <mat-icon matSuffix>business_center</mat-icon>
            <mat-error *ngIf="amendesForm.get('frais').hasError('required')">
              frais is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Specialization</mat-label>
            <input matInput formControlName="specialization" required>
            <mat-icon matSuffix>flag</mat-icon>
            <mat-error *ngIf="amendesForm.get('specialization').hasError('required')">
              Specialization is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Degree</mat-label>
            <input matInput formControlName="degree" required>
            <mat-icon matSuffix>school</mat-icon>
            <mat-error *ngIf="amendesForm.get('degree').hasError('required')">
              Department is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="amendesForm.get('mobile').hasError('required')">
              Mobile is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="amendesForm.get('email').hasError('required') || amendesForm.get('email').touched">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Joining date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="amendesForm.get('date').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!amendesForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
